In [10]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.1/242.1 KB 3.7 MB/s eta 0:00:00
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\Users\Kashif Khan\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [ ]:
# This file is used for data preprocessing the data coming from the module is prepared for the next process, 
# we segment the data in turns of 100 meter segments.
# The output of this file is a json_file that contains the data of each road segment

In [1]:
import numpy as np
import pandas as pd

In [2]:
DATA_DIR = "E:\\MAHE\\1st Sem\\Projects\\Dangerous Road Curvature"
DATA_PATH = DATA_DIR + "\\Data\\"
DATASET = DATA_PATH + "1st Data Collection.xlsx"

In [3]:
df = pd.read_excel(DATASET)
df.head()

,time,Accr_x,Accr_y,Accr_z,Rot_x,Rot_z,Latitude,Longitude,Altitude,gps_time
0,0.065878,0.962280,0.057007,0.531250,-17.639160,-0.305176,13.353579,74.791110,56.994610,1.307886
1,0.070482,0.954102,0.014771,0.592529,-12.878418,-0.305176,13.353578,74.791101,56.992174,1.310929
2,0.070588,0.952515,-0.015869,0.638672,-11.169434,-0.366211,13.353573,74.791067,56.954998,1.912663
3,0.088165,0.958496,-0.040405,0.642334,-13.061523,-0.854492,13.353543,74.790957,83.999283,2.917606
4,0.089766,0.925049,-0.063965,0.618286,-17.578125,-0.061035,13.353525,74.790920,85.121758,3.921720

In [4]:
df.shape

(23222, 10)

In [5]:
df_1 = df[['time', 'Accr_x', 'Accr_y', 'Accr_z', 'Rot_x', 'Rot_z']]
print(df_1.shape)
df_1.head()

(23222, 6)

       time    Accr_x    Accr_y    Accr_z      Rot_x     Rot_z
0  0.065878  0.962280  0.057007  0.531250 -17.639160 -0.305176
1  0.070482  0.954102  0.014771  0.592529 -12.878418 -0.305176
2  0.070588  0.952515 -0.015869  0.638672 -11.169434 -0.366211
3  0.088165  0.958496 -0.040405  0.642334 -13.061523 -0.854492
4  0.089766  0.925049 -0.063965  0.618286 -17.578125 -0.061035

In [6]:
df_2 = df[['Latitude', 'Longitude', 'gps_time']]
print(df_2.shape)
df_2.head()

(23222, 3)

    Latitude  Longitude  gps_time
0  13.353579  74.791110  1.307886
1  13.353578  74.791101  1.310929
2  13.353573  74.791067  1.912663
3  13.353543  74.790957  2.917606
4  13.353525  74.790920  3.921720

In [7]:
df_2 = df_2.dropna()

In [8]:
df_2

      Latitude  Longitude    gps_time
0    13.353579  74.791110    1.307886
1    13.353578  74.791101    1.310929
2    13.353573  74.791067    1.912663
3    13.353543  74.790957    2.917606
4    13.353525  74.790920    3.921720
..         ...        ...         ...
224  13.352433  74.787279  223.926921
225  13.352170  74.787390  224.018330
226  13.352291  74.787354  225.341934
227  13.352242  74.787362  226.346856
228  13.352182  74.787360  227.344648

[229 rows x 3 columns]

In [9]:
df_2.drop(labels = [0,1,2,3,4,5], axis=0, inplace = True)
df_2.shape

(223, 3)

In [10]:
li = []
for i in range(len(df_2)):
    if i == len(df_2) - 1:
        break
    li.append(df_2.iloc[i+1]['gps_time'] - df_2.iloc[i]['gps_time'])
print(len(li))

222

In [11]:
df_2.drop([len(df_2)-1], axis = 0, inplace = True)

In [12]:
df_2['time_difference'] = li

In [13]:
df_2

      Latitude  Longitude    gps_time  time_difference
6    13.353532  74.790861    5.925712         0.991450
7    13.353523  74.790827    6.917162         1.006637
8    13.353511  74.790790    7.923799         0.991522
9    13.353485  74.790739    8.915321         1.002364
10   13.353461  74.790695    9.917685         1.000894
..         ...        ...         ...              ...
224  13.352433  74.787279  223.926921         1.009632
225  13.352170  74.787390  224.018330         0.091409
226  13.352291  74.787354  225.341934         1.323604
227  13.352242  74.787362  226.346856         1.004922
228  13.352182  74.787360  227.344648         0.997792

[222 rows x 4 columns]

In [14]:
df_2['gps_time'] = df_2['gps_time'].round(3)
df_2['time_difference'] = df_2['time_difference'].round(3)
df_2

      Latitude  Longitude  gps_time  time_difference
6    13.353532  74.790861     5.926            0.991
7    13.353523  74.790827     6.917            1.007
8    13.353511  74.790790     7.924            0.992
9    13.353485  74.790739     8.915            1.002
10   13.353461  74.790695     9.918            1.001
..         ...        ...       ...              ...
224  13.352433  74.787279   223.927            1.010
225  13.352170  74.787390   224.018            0.091
226  13.352291  74.787354   225.342            1.324
227  13.352242  74.787362   226.347            1.005
228  13.352182  74.787360   227.345            0.998

[222 rows x 4 columns]

In [15]:
df_2.reset_index(inplace=True)

In [16]:
df_2

     index   Latitude  Longitude  gps_time  time_difference
0        6  13.353532  74.790861     5.926            0.991
1        7  13.353523  74.790827     6.917            1.007
2        8  13.353511  74.790790     7.924            0.992
3        9  13.353485  74.790739     8.915            1.002
4       10  13.353461  74.790695     9.918            1.001
..     ...        ...        ...       ...              ...
217    224  13.352433  74.787279   223.927            1.010
218    225  13.352170  74.787390   224.018            0.091
219    226  13.352291  74.787354   225.342            1.324
220    227  13.352242  74.787362   226.347            1.005
221    228  13.352182  74.787360   227.345            0.998

[222 rows x 5 columns]

In [17]:
df_2.drop('index', axis=1, inplace=True)

In [18]:
df_2

      Latitude  Longitude  gps_time  time_difference
0    13.353532  74.790861     5.926            0.991
1    13.353523  74.790827     6.917            1.007
2    13.353511  74.790790     7.924            0.992
3    13.353485  74.790739     8.915            1.002
4    13.353461  74.790695     9.918            1.001
..         ...        ...       ...              ...
217  13.352433  74.787279   223.927            1.010
218  13.352170  74.787390   224.018            0.091
219  13.352291  74.787354   225.342            1.324
220  13.352242  74.787362   226.347            1.005
221  13.352182  74.787360   227.345            0.998

[222 rows x 4 columns]

In [19]:
df_1['time'] = df_1['time'].round(3)

C:\Users\Kashif Khan\AppData\Local\Temp\ipykernel_4688\3656458711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['time'] = df_1['time'].round(3)

In [20]:
df_2.loc[0]

Latitude           13.353532
Longitude          74.790861
gps_time            5.926000
time_difference     0.991000
Name: 0, dtype: float64

In [21]:
print(df_2,"\n", df_1)

      Latitude  Longitude  gps_time  time_difference
0    13.353532  74.790861     5.926            0.991
1    13.353523  74.790827     6.917            1.007
2    13.353511  74.790790     7.924            0.992
3    13.353485  74.790739     8.915            1.002
4    13.353461  74.790695     9.918            1.001
..         ...        ...       ...              ...
217  13.352433  74.787279   223.927            1.010
218  13.352170  74.787390   224.018            0.091
219  13.352291  74.787354   225.342            1.324
220  13.352242  74.787362   226.347            1.005
221  13.352182  74.787360   227.345            0.998

[222 rows x 4 columns]
           time    Accr_x    Accr_y    Accr_z      Rot_x      Rot_z
0        0.066  0.962280  0.057007  0.531250 -17.639160  -0.305176
1        0.070  0.954102  0.014771  0.592529 -12.878418  -0.305176
2        0.071  0.952515 -0.015869  0.638672 -11.169434  -0.366211
3        0.088  0.958496 -0.040405  0.642334 -13.061523  -0.854492
4        0.090  0.925049 -0.063965  0.618286 -17.578125  -0.061035
...        ...       ...       ...       ...        ...        ...
23217  228.120  0.330811 -0.221436  0.769653 -12.939453 -21.667480
23218  228.122  0.331299 -0.216431  0.799194 -14.282227 -25.512695
23219  228.141  0.365356 -0.212524  0.824097 -13.793945 -29.052734
23220  228.143  0.373291 -0.201416  0.829590 -15.930176 -32.409668
23221  228.163  0.420898 -0.177856  0.809692 -20.324707 -35.034180

[23222 rows x 6 columns]

In [22]:
df_1['Magnitude_Accelerometer'] = np.sqrt(df_1['Accr_x']**2 + df_1['Accr_y']**2 + df_1['Accr_z']**2)
df_1['Magnitude_Gyroscope'] = np.sqrt(df_1['Rot_x']**2 + df_1['Rot_z']**2)

C:\Users\Kashif Khan\AppData\Local\Temp\ipykernel_4688\1756862542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Magnitude_Accelerometer'] = np.sqrt(df_1['Accr_x']**2 + df_1['Accr_y']**2 + df_1['Accr_z']**2)
C:\Users\Kashif Khan\AppData\Local\Temp\ipykernel_4688\1756862542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Magnitude_Gyroscope'] = np.sqrt(df_1['Rot_x']**2 + df_1['Rot_z']**2)

In [23]:
temp1 = df_2.loc[0,'gps_time'].round(2)
temp2 = df_2.loc[1, 'gps_time'].round(2)
print(temp1, temp2)

5.93 6.92

In [24]:
df_1[(df_1['time'] > temp1) | (df_1['time'] < temp2)]

,time,Accr_x,Accr_y,Accr_z,Rot_x,Rot_z,Magnitude_Accelerometer,Magnitude_Gyroscope
0,0.066,0.962280,0.057007,0.531250,-17.639160,-0.305176,1.100663,17.641800
1,0.070,0.954102,0.014771,0.592529,-12.878418,-0.305176,1.123218,12.882033
2,0.071,0.952515,-0.015869,0.638672,-11.169434,-0.366211,1.146925,11.175435
3,0.088,0.958496,-0.040405,0.642334,-13.061523,-0.854492,1.154530,13.089444
4,0.090,0.925049,-0.063965,0.618286,-17.578125,-0.061035,1.114488,17.578231
...,...,...,...,...,...,...,...,...
23217,228.120,0.330811,-0.221436,0.769653,-12.939453,-21.667480,0.866508,25.237059
23218,228.122,0.331299,-0.216431,0.799194,-14.282227,-25.512695,0.891803,29.238324
23219,228.141,0.365356,-0.212524,0.824097,-13.793945,-29.052734,0.926168,32.161068
23220,228.143,0.373291,-0.201416,0.829590,-15.930176,-32.409668,0.931737,36.113115
23221,228.163,0.420898,-0.177856,0.809692,-20.324707,-35.034180,0.929726,40.502932

In [25]:
df_1[(df_1['time'] > temp1) & (df_1['time'] < temp2)]

,time,Accr_x,Accr_y,Accr_z,Rot_x,Rot_z,Magnitude_Accelerometer,Magnitude_Gyroscope
583,5.938,0.989624,0.071533,0.253296,-10.681152,2.319336,1.024027,10.930066
584,5.960,0.956299,0.061035,0.211060,-13.366699,1.159668,0.981213,13.416910
585,5.961,0.970093,0.041992,0.207031,-11.718750,0.122070,0.992827,11.719386
586,5.963,0.931030,0.057251,0.220337,-9.643555,-0.122070,0.958459,9.644327
587,5.964,0.846558,0.126343,0.230347,-9.033203,-4.943848,0.886387,10.297591
...,...,...,...,...,...,...,...,...
682,6.885,0.897705,0.083008,0.312012,11.779785,-1.647949,0.954000,11.894498
683,6.886,0.935791,0.085815,0.265869,6.591797,-0.976562,0.976604,6.663742
684,6.906,0.953125,0.079224,0.211182,3.601074,-0.427246,0.979450,3.626331
685,6.908,0.983154,0.055420,0.140869,1.342773,0.000000,0.994740,1.342773
686,6.910,1.017334,0.039673,0.068604,-2.136230,-0.061035,1.020416,2.137102

In [26]:
df_li = []
neww_df = pd.DataFrame(columns=['time', 'Accr_x', 'Accr_y', 'Accr_z', 'Magnitude_Accelerometer','Magnitude_Gyroscope','Latitude','Longitude'])
for i in range(len(df_2) - 1):
    temp_accel_dict = df_1[(df_1['time'] > df_2.loc[i,'gps_time']) & (df_1['time'] < df_2.loc[i+1,'gps_time'])].to_dict()
    temp_gps_dict = {'Latitude':np.repeat(df_2.loc[i,'Latitude'],len(temp_accel_dict['time'])), 
                     'Longitude':np.repeat(df_2.loc[i,'Longitude'],len(temp_accel_dict['time']))}

    temp_gps_df = pd.DataFrame(temp_gps_dict)
    temp_gps_df.reset_index(inplace=True)
    temp_gps_df.drop(['index'], axis=1, inplace=True)
    # print(temp_gps_df, "\n\n")
    temp_accel_df = pd.DataFrame(temp_accel_dict)
    temp_accel_df.reset_index(inplace=True)
    temp_accel_df.drop(['index'], axis=1, inplace=True)
    # print(temp_accel_df)
    df_li.append(pd.concat([temp_accel_df, temp_gps_df], axis=1))

output_df = pd.concat(df_li)
output_df.reset_index(inplace=True)
output_df.drop(['index'], axis=1, inplace=True)
# output_df.to_csv('output.csv')

In [27]:
neww_df

Empty DataFrame
Columns: [time, Accr_x, Accr_y, Accr_z, Magnitude_Accelerometer, Magnitude_Gyroscope, Latitude, Longitude]
Index: []

In [28]:
df_2.loc[0]

Latitude           13.353532
Longitude          74.790861
gps_time            5.926000
time_difference     0.991000
Name: 0, dtype: float64

In [29]:
print(np.repeat(df_2.loc[0,'Latitude'],3))

[13.35353198 13.35353198 13.35353198]

In [31]:
output_df

,time,Accr_x,Accr_y,Accr_z,Rot_x,Rot_z,Magnitude_Accelerometer,Magnitude_Gyroscope,Latitude,Longitude
0,5.938,0.989624,0.071533,0.253296,-10.681152,2.319336,1.024027,10.930066,13.353532,74.790861
1,5.960,0.956299,0.061035,0.211060,-13.366699,1.159668,0.981213,13.416910,13.353532,74.790861
2,5.961,0.970093,0.041992,0.207031,-11.718750,0.122070,0.992827,11.719386,13.353532,74.790861
3,5.963,0.931030,0.057251,0.220337,-9.643555,-0.122070,0.958459,9.644327,13.353532,74.790861
4,5.964,0.846558,0.126343,0.230347,-9.033203,-4.943848,0.886387,10.297591,13.353532,74.790861
...,...,...,...,...,...,...,...,...,...,...
22522,227.309,0.182861,-0.238281,0.931763,24.719238,5.493164,0.978978,25.322235,13.352242,74.787362
22523,227.311,0.213501,-0.244995,0.894531,10.986328,0.061035,0.951731,10.986498,13.352242,74.787362
22524,227.331,0.251587,-0.226685,0.838257,-2.258301,-5.187988,0.904078,5.658193,13.352242,74.787362
22525,227.332,0.302734,-0.193848,0.767700,-12.390137,-9.948730,0.847696,15.890020,13.352242,74.787362
22526,227.334,0.370850,-0.159424,0.716675,-18.432617,-12.451172,0.822538,22.243944,13.352242,74.787362

In [40]:
#sqrt(df_1['Accr_x']^2 + df_1['Accr_y']^2 + df_1['Accr_z']^2)

C:\Users\Kashif Khan\AppData\Local\Temp\ipykernel_24988\904761499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Magnitude_Accelerometer'] = np.sqrt(df_1['Accr_x']**2 + df_1['Accr_y']**2 + df_1['Accr_z']**2)
C:\Users\Kashif Khan\AppData\Local\Temp\ipykernel_24988\904761499.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Magnitude_Gyroscope'] = np.sqrt(df_1['Rot_x']**2 + df_1['Rot_z']**2)

In [41]:
df_1

,time,Accr_x,Accr_y,Accr_z,Rot_x,Rot_z,Magnitude_Accelerometer,Magnitude_Gyroscope
0,0.066,0.962280,0.057007,0.531250,-17.639160,-0.305176,1.100663,17.641800
1,0.070,0.954102,0.014771,0.592529,-12.878418,-0.305176,1.123218,12.882033
2,0.071,0.952515,-0.015869,0.638672,-11.169434,-0.366211,1.146925,11.175435
3,0.088,0.958496,-0.040405,0.642334,-13.061523,-0.854492,1.154530,13.089444
4,0.090,0.925049,-0.063965,0.618286,-17.578125,-0.061035,1.114488,17.578231
...,...,...,...,...,...,...,...,...
23217,228.120,0.330811,-0.221436,0.769653,-12.939453,-21.667480,0.866508,25.237059
23218,228.122,0.331299,-0.216431,0.799194,-14.282227,-25.512695,0.891803,29.238324
23219,228.141,0.365356,-0.212524,0.824097,-13.793945,-29.052734,0.926168,32.161068
23220,228.143,0.373291,-0.201416,0.829590,-15.930176,-32.409668,0.931737,36.113115
23221,228.163,0.420898,-0.177856,0.809692,-20.324707,-35.034180,0.929726,40.502932

### Road Segmentation and Output Json Code ###

In [30]:
from geopy import distance
import json

In [32]:
# need to write the code for reading the output.csv wala code
output_df

,time,Accr_x,Accr_y,Accr_z,Rot_x,Rot_z,Magnitude_Accelerometer,Magnitude_Gyroscope,Latitude,Longitude
0,5.938,0.989624,0.071533,0.253296,-10.681152,2.319336,1.024027,10.930066,13.353532,74.790861
1,5.960,0.956299,0.061035,0.211060,-13.366699,1.159668,0.981213,13.416910,13.353532,74.790861
2,5.961,0.970093,0.041992,0.207031,-11.718750,0.122070,0.992827,11.719386,13.353532,74.790861
3,5.963,0.931030,0.057251,0.220337,-9.643555,-0.122070,0.958459,9.644327,13.353532,74.790861
4,5.964,0.846558,0.126343,0.230347,-9.033203,-4.943848,0.886387,10.297591,13.353532,74.790861
...,...,...,...,...,...,...,...,...,...,...
22522,227.309,0.182861,-0.238281,0.931763,24.719238,5.493164,0.978978,25.322235,13.352242,74.787362
22523,227.311,0.213501,-0.244995,0.894531,10.986328,0.061035,0.951731,10.986498,13.352242,74.787362
22524,227.331,0.251587,-0.226685,0.838257,-2.258301,-5.187988,0.904078,5.658193,13.352242,74.787362
22525,227.332,0.302734,-0.193848,0.767700,-12.390137,-9.948730,0.847696,15.890020,13.352242,74.787362
22526,227.334,0.370850,-0.159424,0.716675,-18.432617,-12.451172,0.822538,22.243944,13.352242,74.787362

In [33]:
## Wrangle dataframe
# Specify columns that will be selected
features = ['Accr_x',
            'Accr_y',
            'Accr_z',
            'Magnitude_Accelerometer',
            'Magnitude_Gyroscope',
            'Latitude',
            'Longitude',
            'time'
            ]
df = output_df.loc[:, output_df.columns.isin(features)]
df.dropna(inplace = True)

## Rename the selected columns
df.columns = ['t', 'a_x', 'a_y', 'a_z', 'Mag_Accr', 'Mag_Gyro', 'lat', 'lon']

## Adjust start time to 0
df = df.assign(t = df['t'] - df['t'].values[0]) 
df.head()

C:\Users\Kashif Khan\AppData\Local\Temp\ipykernel_4688\1197766125.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace = True)

,t,a_x,a_y,a_z,Mag_Accr,Mag_Gyro,lat,lon
0,0.000,0.989624,0.071533,0.253296,1.024027,10.930066,13.353532,74.790861
1,0.022,0.956299,0.061035,0.211060,0.981213,13.416910,13.353532,74.790861
2,0.023,0.970093,0.041992,0.207031,0.992827,11.719386,13.353532,74.790861
3,0.025,0.931030,0.057251,0.220337,0.958459,9.644327,13.353532,74.790861
4,0.026,0.846558,0.126343,0.230347,0.886387,10.297591,13.353532,74.790861

In [34]:
# Road Segmentation code
segment_length = 100 # set a segment length of 100 metres
data = []
# segment_filename = DATA_DIR + 'segmented_output1.csv'
startindex = 0
j = 0
json_li = []
coords_1 = (df.loc[startindex,'lat'], df.loc[startindex,'lon'])
for index in range(len(df)):    
    subdata = []
    subdata.append(['Road segment', j])
    subdata.append(['Start latitude and longitude', coords_1[0], coords_1[1]])
    coords_2 = (df.loc[index,'lat'], df.loc[index,'lon'])   
    d = distance.distance(coords_1, coords_2).m 
    if d >= segment_length:
        json_data = {}    
        subdata.append(['End latitude and longitude', coords_2[0], coords_2[1]])
        subdata.append(['Distance', d])
        subdata.append(['Time']+list(df.loc[startindex:index+1, 't'].values-df.loc[startindex, 't']))
        subdata.append(['X_Acceleration']+list(df.loc[startindex:index+1, 'a_x'].values))
        subdata.append(['Y_Acceleration']+list(df.loc[startindex:index+1, 'a_y'].values))
        subdata.append(['Z_Acceleration']+list(df.loc[startindex:index+1, 'a_z'].values))
        subdata.append(['Magnitude_Accelerometer']+list(df.loc[startindex:index+1, 'Mag_Accr'].values))
        subdata.append(['Magnitude_Gyroscope']+list(df.loc[startindex:index+1, 'Mag_Gyro'].values))

        json_data[subdata[0][0]] = subdata[0][1]    # Road Segment
        json_data[subdata[1][0]] = subdata[1][1:]   # Start Latitude and Longitude
        json_data[subdata[2][0]] = subdata[2][1:]   # End Latitude and Longitude
        json_data[subdata[3][0]] = subdata[3][1:]   # Distance
        json_data[subdata[4][0]] = subdata[4][1:]   # Time
        json_data[subdata[5][0]] = subdata[5][1:]   # X_Acceleration
        json_data[subdata[6][0]] = subdata[6][1:]   # Y_Acceleration
        json_data[subdata[7][0]] = subdata[7][1:]   # Z_Acceleration
        json_data[subdata[8][0]] = subdata[8][1:]   # Magnitude_Accelerometer
        json_data[subdata[9][0]] = subdata[9][1:]   # Magnitude_Gyroscope

        json_li.append(json_data)

        print(subdata[0][0])
        # data.append(subdata) 
        
        # if j == 0:
        #     writemode = "w"
        # else:
        #     writemode = "a"   
        # with open(segment_filename, writemode, newline = "") as f:
        #     writer = csv.writer(f)
        #     writer.writerows(subdata)
        startindex = index
        j = j+1
        coords_1 = (df.loc[startindex,'lat'], df.loc[startindex,'lon'])
# print(json_li)

Road segment
Road segment
Road segment
Road segment
Road segment
Road segment
Road segment
Road segment
Road segment
Road segment
Road segment
Road segment
Road segment
Road segment
Road segment
Road segment

In [36]:
# Writing to json
json_object = json.dumps(json_li)
json_df = pd.DataFrame(json_li)
json_df.to_json('json_file_1.json')